<h1 align="center">Person List</h1>
<div align="center">
  <%= link_to 'Download as .xlsx', people_path(format: :xlsx) %>
  <%= link_to 'Download as .pdf', people_path(@all_people, format: :pdf) %>
  <%= link_to "Add New Person", new_person_path, class: "btn btn-primary" %>
  <div class="flickr_pagination">
    <%= will_paginate @person, :container => false %>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "gender" %></th>
      <th><%= sortable "weapon" %></th>
      <th><%= sortable "vehicle" %></th>
      <th><%= sortable "species" %></th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <% if @people != nil %>
      <% @people.each do |row| %>
        <tr>
          <td><%= row.first_name %></td>
          <td><%= row.last_name %></td>
          <td><%= row.gender %></td>
          <td><%= row.weapon %></td>
          <td><%= row.vehicle %></td>
          <td><%= row.species %></td>
          <td>
            <%= link_to "Edit", edit_person_path(row) %>
            <%= link_to "Delete", person_path(row), method: :delete,
                        data: {confirm: "Are you sure you want to delete the user and all related info?"} %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination">
    <%= will_paginate @person, :container => false %>
  </div>
</div>